h1 {
    text-align: center;
    font-size: 40px;
}

#canvas-container {
    border: 1px solid #000;
    display: inline-block;
    margin: 20px 0;
}

#petri-net-canvas {
    background-color: #f0f0f0;
}

.buttons-container{
    
    display: flex;
    justify-content: space-around;
    
}

button {
    cursor: pointer;
    font-size: 25px;
}